/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

h1 {
	width: 8em;
    margin-bottom: 1.5em;
}

div.container, div.home-container {
    position: relative;
    min-height: 100vh;
    max-width: 40em;
    margin: auto;
}


nav ul {
    list-style: none;
    margin-bottom: 1em;
}

nav ul li a{
    color: rgb(68, 99, 135);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.25em;
    
}

h2 {
	font-weight: bold;
    font-size: 2.5em;
    font-family: serif;
    color: rgb(68, 99, 135);
    
}

a{
    text-decoration: none;
}

section.secondarystory h2 {
	font-weight: bold;
    font-size: 1.5em;
    font-family: serif;
    color: rgb(68, 99, 135);

    
}

figure {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

p {
	font-weight: 500em;
    color: #000000; 
    font-family: sans-serif;
    line-height: 1.25em;
    /* padding-bottom: 1.5em; */
    
}

section.tertiarystory h2 {
	font-weight: bold;
    font-size: 1.25em;
    font-family: serif;
    color: rgb(68, 99, 135);
    padding-top: 0.5em;

}

section.tertiarystory {
    border-top: 0.1em solid rgb(68, 99, 135);
    margin-bottom: 0.5em;
}


aside {
    background-color: rgb(191, 194, 255);
    padding: 1rem .5rem;
}

footer {
    background-color: rgb(93 119 150);
}

footer p {
    color: #fafafa;
    padding: auto;
    padding-top: .75rem;
}

figcaption {
    font-style: oblique;
    font-family: sans-serif;
    color: rgb(113, 113, 113);
    padding: .5rem 0 1em;
}
div.home-container aside {
    background: none;
    padding: 0;
    margin-top: 0;
}

div.container aside {
    margin-top: 0;
}

div.home-container main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}


@media screen and (min-width: 40em) {

    nav ul li {
        display: inline;
        margin-right: 0.75rem;
    }
	div.container{
		max-width: 40em;
	}

    main p {
        margin: 0 0 1rem 0;
    }
}


@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 70em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }

    section.secondarystory{
        display: flex;
    }

    section.secondarystory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img{
        object-fit: cover;
    }

    section.secondarystory a h2{
        flex: 0 0 1em;
    }

    section.secondarystory a p{
        flex: 0 0 4em;
    }
}

